<h1 class="tableHeading">Infinite Scroll for Data</h1>
<button class="proceedButton"><span [routerLink] = "['']">Pagination Table</span></button>
<div class="tableContainer" >
    <div ng-controller="tableController" >
      <div class="table" *ngIf="this.infiniteTableData.length > 0" >
        <span class='tableHeader' *ngFor="let component of uniqueHeadersList">{{ component }}</span>
      </div>
    </div>
    <div class="tableDataSetup"> 
      <div class='tableRow' *ngFor="let item of infiniteTableData; let i = index">
        <span class='tableData' *ngFor="let column of uniqueHeadersList">{{getColumnData(column, i)}}</span>
      </div>
    </div>
</div>