<div class="parentContainer">
    <h1 class="tableHeading">CAPCO Project</h1>
    <div class="selectDropDown">
      <span class="dropDownText">Select Number of Rows To Display</span>
      <select (change)="setNoOfRows($event)">
        <option *ngFor="let option of selectOptions" [value]='option'>{{option}}</option>
      </select>
      <button class="proceedButton"><span [routerLink] = "'/infiniteScroll'">Infinite Scroll</span></button>
    </div>
    <div class="tableContainer" *ngIf="noOfRows > 0" >
      <div ng-controller="tableController" >
        <div class="table" >
          <span class='tableHeader' *ngFor="let component of uniqueHeadersList">{{ component }}</span>
          <span class='tableHeader'>Submit</span>
        </div>
      </div>
      <div class="tableDataSetup"> 
        <div class='tableRow' *ngFor="let item of pagedItems; let i = index">
          <span class='tableData' *ngFor="let column of uniqueHeadersList">{{getColumnData(column, i)}}</span>
          <span class='tableData'>
            <button (click)="submitStatus(item)" class="button">Submit</button>
          </span> 
        </div>
      </div>
      <div  class="paginationTable">
        <div *ngIf="pager.pages && pager.pages.length" class="spacingAround">
          <span class="pageNumbers" [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPageData(1)">First</a>
          </span>
          <span class="pageNumbers" [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPageData(pager.currentPage - 1)">Previous</a>
          </span>
          <span class="pageNumbers" *ngFor="let page of pager.pages">
              <a (click)="setPageData(page)">{{page}}</a>
          </span>
          <span class="pageNumbers" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPageData(pager.currentPage + 1)">Next</a>
          </span>
          <span class="pageNumbers" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPageData(pager.totalPages)">Last</a>
          </span>
        </div>
      </div>
    </div>
  </div>
