// .parentContainer{
//     background-color: yellowgreen;
//     width: 100%;
// }

.tableHeading{
    color: rgb(36, 50, 235);
    text-align: center;
    margin: 0px;
}

.selectDropDown{
    text-align: center;
    align-items: center;
}

.dropDownText{
    font-size: 20px;
    margin-right: 20px;
}

.proceedButton{
    margin-left: 20px;
    height: 30px;
    background-color: rgba(5, 58, 112, 0.534);
    color: white;
    border-radius: 5px;
}

.tableContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:95%;
    flex-direction: column;
    margin: 0px 10px;
}

.tableDataSetup{
    height: 550px;
    overflow-y: auto;
    overflow-x: auto;
}

.table{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    width:100%;
    height:50px;
    margin-top: 5px;
    flex-wrap: wrap;
    background-color: #203f79;
    color: white;
    overflow: visible;
    position: relative;
}

.tableRow{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    background-color: rgba(245, 238, 238, 0.897);
    
}

.tableHeader{
    display: flex;
    flex: 1;
    flex-direction: column;
    width:100%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    text-align: center;
    align-content: center;
    word-break: break-all;
}

.tableData{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px;
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 10px;
    border: 1px solid;
    text-align: center;
    align-content: center;
    word-break: break-all;
}

.paginationTable{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-content: center;
    text-align: center;
    margin: 20px;
}

.spacingAround{
    width: 100%;
}

.ul li{
    width: 100px;
}

.pageNumbers{
    color: rgb(35, 50, 180);
    width: 20px;
    padding: 5px;
    border: 2px solid;
}

.button{
   padding: 2px;
   font-size: 10px;
}